<div class="logo">
  <a href="/">
    <img src="/images/logo.svg" alt="TF Labs Logo" class="logo-image">
  </a>

  <a href="/" class="logo-link <% if (typeof whiteLogo !== 'undefined' && whiteLogo) {%>white-logo<% } %>">
    TF Labs
    <div class="beta-label">Beta</div>
  </a>
</div>
