<div class="post-stats">
  <% if (typeof noAdditionalTags === 'undefined' || !noAdditionalTags) { %>
    <% if (helpers.isWithinLastTwoWeeks(post.publishedAt)) { %>
      <div>
        <%- include('./post-tags/new.ejs') %>
      </div>
    <% } %>
  <% } %>
  <div class="post-stat-item"><%= post.views %> <span class="material-icons">visibility</span></div>
  <% if (post.openForComments === true) { %>
    <div class="post-stat-item"><%= post.comments.length %> <span class="material-icons">comment</span></div>
  <% } %>
  <% if (post.openForRatings === true) { %>
    <div class="post-stat-item"><span id="postAverageRatingStat"><%= post.averageRating %></span> <span class="material-icons">star</span></div>
  <% } %>
</div>
