<div class="story-stats">
  <% if (typeof noAdditionalTags === 'undefined' || !noAdditionalTags) { %>
    <% if (helpers.isWithinLastTwoWeeks(story.publishedAt)) { %>
      <div>
        <%- include('./story-tags/new.ejs') %>
      </div>
    <% } %>
  <% } %>
  <div class="story-stat-item"><%= story.views %> <span class="material-icons">visibility</span></div>
  <% if (story.openForComments === true) { %>
    <div class="story-stat-item"><%= story.comments.length %> <span class="material-icons">comment</span></div>
  <% } %>
  <% if (story.openForRatings === true) { %>
    <div class="story-stat-item"><span id="storyAverageRatingStat"><%= story.averageRating %></span> <span class="material-icons">star</span></div>
  <% } %>
</div>
