<div class="tag-cloud d-flex flex-wrap gap-4 justify-content-center" id="tagList">
  <%
    var tagCounts = tags.map(tag => tag.storyCount);
    var max = Math.max(...tagCounts);
    var min = Math.min(...tagCounts);
    var fontMin = 8;
    var fontMax = 18;
    var fontStep = (fontMax - fontMin) / (max - min);
  %>

  <% for (const tag of tags) { %>
    <% var fontSize = fontMin + (tag.storyCount - min) * fontStep; %>
    <a href="/tags/<%= tag.slug %>/" class="tag-block" style="font-size: <%= fontSize %>pt;">
      <%= tag.tag %>
    </a>
  <% } %>
</div>
