<div class="theme-switcher d-flex align-items-center gap-3">
  <theme-switcher-button data-theme="light" class="js-track-click-event" data-tracking-action="Theme Switcher" data-tracking-name="Light Mode">
    <span class="material-icons">light_mode</span>
  </theme-switcher-button>
  <theme-switcher-button data-theme="dark" class="js-track-click-event" data-tracking-action="Theme Switcher" data-tracking-name="Dark Mode">
    <span class="material-icons">dark_mode</span>
  </theme-switcher-button>
</div>
