<div class="container-fluid container-xxl">
  <h1 class="page-title"><%= title %></h1>

  <p>These are the documents and resrouces available to help users on TF Labs:</p>

  <h2 class="mt-5">Publication Guidelines</h2>
  <div class="d-flex flex-wrap gap-3">
    <div class="link-box">
      <a href="/documents/content-guidelines/" class="link">Content Guidelines</a>
      <div class="description">
        These guidelines are designed to help you create high-quality content that meets the standards of our platform.
      </div>
    </div>
    <div class="link-box">
      <a href="/documents/submission-guidelines/" class="link">Submission Guidelines</a>
      <div class="description">
        These guidelines outline the process for submitting content to our platform, including formatting and quality standards.
      </div>
    </div>
  </div>

  <h2 class="mt-5">Legal Documents</h2>
  <div class="d-flex flex-wrap gap-3">
    <div class="link-box">
      <a href="/documents/imprint/" class="link">Imprint</a>
      <div class="description">
        The imprint provides information about TF Labs and the responsible parties for the content on our platform.
      </div>
    </div>
    <div class="link-box">
      <a href="/documents/privacy-statement/" class="link">Privacy Statement</a>
      <div class="description">
        This document outlines how we collect, use, and protect your personal information when you use our platform.
      </div>
    </div>
    <div class="link-box">
      <a href="/documents/terms-of-service/" class="link">Terms of Service</a>
      <div class="description">
        The terms of service outline the rules and regulations for using our platform, including user responsibilities and rights.
      </div>
    </div>
  </div>
</div>
