<div class="container-fluid container-xxl">
  <h1 class="page-title"><%= title %></h1>

  <h2>General</h2>
  <p>Your personal data (e.g. title, name, house address, e-mail address, phone number, bank details, credit card number) are processed by us only in accordance with the provisions of German data privacy laws. The following provisions describe the type, scope and purpose of collecting, processing and utilizing personal data. This data privacy policy applies only to our web pages. If links on our pages route you to other pages, please inquire there about how your data are handled in such cases.</p>

  <h2>Inventory data</h2>
  <p>(1) Your personal data, insofar as these are necessary for this contractual relationship (inventory data) in terms of its establishment, organization of content and modifications, are used exclusively for fulfilling the contract. For goods to be delivered, for instance, your name and address must be relayed to the supplier of the goods.</p>

  <p>(2) Without your explicit consent or a legal basis, your personal data are not passed on to third parties outside the scope of fulfilling this contract. After completion of the contract, your data are blocked against further use. After expiry of deadlines as per tax-related and commercial regulations, these data are deleted unless you have expressly consented to their further use.</p>

  <h2>Your Data</h2>
  <p>According to the Federal Data Protection Act, you have a right to free-of-charge information about your stored data, and possibly entitlement to correction, blocking or deletion of such data. Inquiries can be directed to the following e-mail address: tflabs@outlook.de</p>
  <p><strong>Data We Collect and Process We may collect and process the following types of personal data:</strong></p>
  <p>
    <ul>
      <li>Registration Data: Name, email address, username, password (encrypted), and other details provided during account creation.</li>
      <li>User-Generated Content: Any content you publish or share publicly on our platform.</li>
      <li>Usage Data: Information about how you use our website, including IP addresses (anonymized), browser types, and operating system information.</li>
      <li>Communication Data: Information shared when you contact us via email or other communication channels.</li>
    </ul>
  </p>
  <p><strong>Purposes of Data Processing Your personal data is collected and processed for the following purposes:</strong></p>
  <p>
    <ul>
      <li>To provide and maintain our services, including user account management.</li>
      <li>To communicate with you regarding your account, updates, and support.</li>
      <li>To analyze usage patterns and improve our website and services.</li>
      <li>To comply with legal obligations and respond to inquiries or complaints.</li>
    </ul>
  </p>
  <p><strong>User Rights As a user, you have the following rights under the GDPR:</strong></p>
  <p>
    <ul>
      <li>Right to access your personal data (Art. 15 GDPR).</li>
      <li>Right to rectification of inaccurate or incomplete data(Art. 16 GDPR).</li>
      <li>Right to erasure of your personal data (Art. 17 GDPR).</li>
      <li>Right to restrict processing of your personal data (Art. 18 GDPR).</li>
      <li>Right to data portabilityArt. 20 GDPR).</li>
      <li>Right to object to the processing of your personal data (Art. 21 GDPR).</li>
      <li>Right to withdraw consent at any time where we rely on your consent to process your personal data (Art. 7 GDPR).</li>
      <li>Right to lodge a complaint with a supervisory authority if you believe that our processing of your personal data infringes applicable data protection laws (Art. 77 GDPR).</li>
    </ul>
  </p>

  <h2>Embedded content from other websites</h2>
  <p>Pages on this website may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website. These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracing your interaction with the embedded content if you have an account and are logged in to that website.</p>

  <h2>Cookies</h2>
  <p>A &quot;cookie&quot; is a small text file that is created and saved on your computer when visiting this website. They help us know whether you have visited the website already. A cookie can only contain information that we have sent to your computer ourselves — personal data is not accessible through it. If you accept cookies on our websites, we have no access to any personal information, but with can identify your computer through the cookies. We use cookies solely for analytics and/or technical reasons such as saving a preference.</p>

  <p>
    <button class="button" id="resetCookieSettingsButton">
      Reset Cookie Settings
    </button>
  </p>

  <h2>Analytics</h2>
  <p>Our website uses Matomo in a cookieless configuration to analyze visitor interactions in strict compliance with the General Data Protection Regulation (GDPR). In this setup, Matomo collects aggregated and pseudonymized data without placing or reading cookies on your device, thereby ensuring that no personal data is directly captured. Any IP addresses retrieved are automatically anonymized immediately upon collection, and the data is used exclusively for evaluating website performance and enhancing user experience. We have implemented robust data minimization and retention practices—data is securely stored for only as long as necessary and is subject to regular deletion protocols—to uphold your privacy rights and support the transparency and accountability principles enshrined in the GDPR.</p>

  <h2>Changes to This Privacy Statement</h2>
  <p>We reserve the right to update this Privacy Statement to reflect changes in our practices or applicable laws. The latest version will always be available on our website.</p>
</div>
