<div class="container-fluid container-xxl">
  <h1 class="page-title"><%= title %></h1>

  <p>This document focuses on requirements for publishing text stories and poems. Our <a href="/documents/content-guidelines/">Content Guidelines</a> provide a list of content we do not publish.</p>
  <p>If you're reading this, you likely have an erotic transformation story or poem you'd like to publish on TF Labs. We'd be very happy to help you join the ranks of TF Labs Authors. Please read the guidelines below to make sure that your work gets published as quickly and easily as possible.</p>
  <p>To publish a story on TF Labs, you must certify the following stipulations to be true:</p>
  <ul>
    <li>You're 18 years of age or older and legally able to write, publish, and read erotic material;</li>
    <li>You're the sole creator of the work, you own the copyright, and you grant TF Labs the legal rights to publish the submitted work;</li>
    <li>Your work does not contain any non-publishable content as defined in our <a href="/documents/content-guidelines/">Content Guidelines</a>;</li>
    <li>You grant TF Labs the right to use all legal means available to protect your published work from unauthorized use by other parties.</li>
  </ul>
  <p>Still with us? Great! Here's how to be a TF Labs author.</p>

  <h2>Easy Steps to Becoming a Published TF Labs Author</h2>
  <ol>
    <li>
      <strong>You Must Be a Member to Publish on TF Labs</strong>
      <p>Join TF Labs (it's free) or Login if you're already a member.</p>
    </li>
    <li>
      <strong>Minimum Length</strong>
      <p>Stories published on TF Labs must be at least 750 words in length. There is no maximum length.</p>
    </li>
    <li>
      <strong>Spelling & Grammar</strong>
      <p>Spell check your manuscript and then read it again to find words the spell checker missed. TF Labs does not spell check or edit submissions before publishing. Works with excessive spelling and/or grammar errors may be sent back for further editing. Obvious spelling and grammatical errors are poorly received by readers so spell checking can make a big difference in how reader respond to your work.</p>
      <p>We encourage both seasoned and first-time writers to submit their work to TF Labs. We do not expect grammatical and structural perfection in every story. We understand that as you publish more stories - applying suggestions from readers and other authors - your abilities as a writer will grow.</p>
    </li>
    <li>
      <strong>Paragraphs</strong>
      <p>Please break your story up into reasonably sized paragraphs. TF Labs stories are often read on small screen devices where excessively long paragraphs fatigue some readers. Stories with few/no paragraph breaks may be sent back for further editing.</p>
    </li>
    <li>
      <strong>Text Formatting</strong>
      <p>The only text formatting officially supported in TF Labs stories is Bold and Italics. We do not currently support Font Color, Font Size, Font Face, Indenting, Links, Tables, or other complex formatting. Minimal text formatting means a better reading experience - and better reader response to your work.</p>
    </li>
    <li>
      <strong>File Formats</strong>
      <p>All manuscripts must be submitted via the <a href="/account/stories/submit/">Submit a Story</a> page by typing or pasting your story text directly into our submission form.</p>
    </li>
    <li>
      <strong>Submit Your Work</strong>
      <p>Once you've checked off the above items, it's time to submit your work and get published!</p>
    </li>
  </ol>
  <p>Getting your story published on TF Labs is just the beginning. In addition to improving your writing skills and potentially spicing up your sex life, having a story published on TF Labs means you can start receiving reader feedback, gain followers and make new friends, create your own series, keep an eye on your story stats, come into contact with other authors, and much more.</p>
  <p>Thank you again for being part of the TF Labs Community!</p>
</div>
