<div class="container-fluid container-xxl">
  <h1 class="page-title"><%= title %></h1>

  <p><strong>You must agree to the following terms to use any part of TF Labs:</strong></p>
  <p>This Web site is for use solely by responsible adults over the age of 18 (or the age of consent in the jurisdiction from which it is being accessed, whichever is greater).</p>
  <p>The materials which are available within this site may include graphic visual depictions and descriptions of nudity and sexual activity and may NOT be accessed by anyone who is younger than 18 years old. Visiting this Web site if you are under 18 years of age may be prohibited by federal, state or local laws.</p>
  <p>By visiting TF Labs, you are agreeing to the following statements:</p>
  <ol>
    <li>You are an adult, at least 18 years of age, and you have the legal right to possess adult material in your community.</li>
    <li>You will not permit any person(s) under 18 years of age to have access to any of the materials contained in this site.</li>
    <li>You are voluntarily choosing to access this site, because you want to view, read and/or hear the various materials which are available.</li>
    <li>You do not find erotic posts, sounds, or images of nude adults, adults engaged in sexual acts, or other sexual material to be offensive or objectionable.</li>
    <li>You will exit from this site immediately if you are in any way offended by the sexual nature or content of any material.</li>
    <li>You understand and agree to abide by the standards and laws of your community.</li>
    <li>By logging on and viewing any part of this Web site, you agree that you shall not hold the owners of the Web site or its employees responsible for any materials located on the site.</li>
    <li>There are portions of this site that are unmoderated and TF Labs does not monitor the content of those parts of the site. We are not responsible for content posted by users without our consent or knowledge. If you see questionable content on the site, please contact the webmaster and make them aware of the situation.</li>
    <li>If you use these services in violation of this agreement, you understand you may be in violation of local and/or federal laws and you are solely responsible for you actions.</li>
    <li>You agree not to post any material which you do not own the copyright to in the posts, bulletin board, chatroom, or any other part of the site. If you do use copyrighted images or text without the permission of the owner, you will be warned and may be suspended or banned from the site. As authors, we respect the rights of copyright holders and we encourage all of our members to do the same.</li>
    <li>You agree not to use TF Labs to promote any commercial website, product, or service. This includes posting links or offers in your posts, posts, profile, chat, or any other part of the site. Spam is against the rules of all ISPs and we will report and remove all attempted spam. You may not use a URL/site address as your member name. If you do so, we will change your username without notice.</li>
    <li>You agree that you will not post any personal or private information about anyone on this site. Nor will you post any threats or harassment toward other users. We encourage free speech, but we do not allow threats or other harassment.</li>
    <li>The webmasters of TF Labs reserve the right to remove any content or user from the site for any, or no, reason at anytime.</li>
    <li>You agree that you will not try to abuse any of the software or hardware that runs this site. Any unauthorized attempt to tamper with the voting system, log into another user's account, or any other abusive behavior will be subject to suspension of your account as well as possible legal action, if warranted.</li>
    <li>TF Labs will not intentionally share your email address or any other private information about you with any third party unless required by a court order to do so.</li>
    <li>Regarding the use of AI (artificial intelligence): TF Labs explicitly forbids any individual, company, nonprofit, or other entities from scraping, accessing, copying, or using in any manner the content (including text, audio, visual, or any other form) published on TF Labs except for search engine indexing. All content on TF Labs is protected under copyright laws and is the property of either its author, TF Labs, or both. Any utilization of content from TF Labs, whether for training, creating, or any other interaction with AI and/or Large Language Models/generative AI, is a direct violation of our terms of service. TF Labs, our authors, and members reserve the right to pursue legal recourse against any entity using any content on TF Labs for any purpose related to AI. This extends to third parties who utilize or produce content from an AI trained on data sourced from TF Labs without explicit consent. Furthermore, our robots.txt file strictly prohibits scraping for AI related purposes. Legitimate search engines are authorized to crawl TF Labs for indexing purposes.</li>
  </ol>
  <p>By entering/accessing this site, you agree to abide by all of these terms.</p>
</div>
