<div class="container-fluid container-xxl">
  <h1 class="page-title"><%= title %></h1>

  <%- include('../_partials/categoryGrid.ejs') %>

  <p class="text-center mt-4">If you have a suggestion for a new category, please <a href="/contact" target="_blank" class="js-track-click-event" data-tracking-action="Categories Page" data-tracking-name="Contact Us For New Category">contact us</a>.</p>
</div>
