<div class="container-fluid container-xxl">
  <div class="row mt-md-4">
    <div class="col-md-5 d-none d-md-block">
      <img src="/images/logo.svg" alt="TF Labs">
    </div>
    <div class="col-md-6">
      <h1 class="page-title"><%= title %></h1>
      <p class="headline-description fw-bold">TF Labs is currently in beta.</p>
      <p>What does that mean? It means there may be signficiant changes to functionality or design at any time as we finialize the website. Unfortunately, there will most likely also be issues that need solving.</p>
      <p>We will do our best to tackle them as we continue our testing but there is always the possibility that we miss something.</p>
      <p>If you have any issues or feedback, please <strong>don't hesistate to <a href="/contact">contact us</a></strong> and let us know!</p>
      <p>Thank you and have fun on TF Labs!</p>
    </div>
  </div>
</div>
