<div class="container-fluid container-xxl">
  <h1 class="page-title"><%=title%></h1>

  <% if (typeof success !== 'undefined') { %>
    <div class="d-flex justify-content-center mb-5">
      <div class="alert success" role="alert">Your message was sent successfully!</div>
    </div>
  <% } else if (typeof error !== 'undefined') { %>
    <div class="d-flex justify-content-center mb-5">
      <div class="alert error" role="alert">An error occurred while sending your message. Please send your message directly to <a href="mailto:tflabs@outlook.de" class="body-color">tflabs@outlook.de</a>.</div>
    </div>
  <% } %>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <form method="post" action="/contact" class="contact-form">
      <div class="form-group">
        <label for="name" class="form-label">Name:</label>
        <input type="text" name="name" class="input full-width" required>
      </div>
      <div class="form-group">
        <label for="name" class="form-label">Email:</label>
        <input type="email" name="email" class="input full-width" required>
      </div>
      <div class="form-group">
        <label for="message" class="form-label">Message:</label>
        <textarea name="message" class="input full-width" required rows="10"></textarea>
      </div>

      <div class="text-center">
        <button type="submit" class="button primary large">Send</button>
      </div>
    </form>
  </div>
</div>
